<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


    <title>Document</title>
</head>
<body>
       <!-- Contact-->
  <!-- <div class="footer bg-dark pt-3 text-light mt-0"> -->
    <div class="container-fluid mx-auto bg-dark pt-3 text-light mt-0">
        <h1 class="text-lg-center mt-0">Contact</h1>
         <table class="table table-borderless text-light">
        <thead>
          <tr>
            <th scope="col">Contact Info.</th>
            <th scope="col">Open Hour</th>
            <th scope="col">Follow Us.</th>
          </tr>
        </thead>
         <tbody>
        <tr>
        <td><i class="bi bi-telephone-fill"></i><b>Phone</b><br><a href="tel:+917325917946" class="link text-light 
         text-decoration-none">+91 8144766568 </a></td>
        <td>Monday - Friday: 9:00 AM - 10:00 PM</td>
        <td>
          <a href="https://www.facebook.com/"><i class="bi bi-facebook pe-3 text-light fs-4"></i></a>
          <a href="https://www.instagram.com/"><i class="bi bi-instagram pe-3 text-light fs-4"></i></a>
          <a href="https://twitter.com/"><i class="bi bi-twitter pe-3 text-light fs-4"></i></a>
        </td>
      </tr>
      <tr>
        
        <td><i class="bi bi-envelope-at"></i><b>Mail us at </b><br><a href="mailto:cakehouse@gmail.com" class="link text-light 
        text-decoration-none">mynursey@gmail.com</a></td>
        <td>Saturday: 10:00 AM - 11:00 PM</td>
      </tr>
      <tr>
      <td><a href="https://www.google.com/maps/dir//Silicon+Hills,+near+DLF+cybercity,+Patia,+Bhubaneswar,+Odisha+751024/@20.3792722,85.
       6981602,12.98z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a1908e064769e73:0x9288172f3a98c7a4!2m2!1d85.806336!2d20.3506773?entry=ttu" class="link text-light 
       text-decoration-none"><i class="bi bi-geo-alt-fill"></i><b>Location </b></a></td>
       <td>Sunday: 10:00 AM - 11:00 PM</td>
      </tr>
    </tbody>
    </table>
    <br>
  <p class="text-center fw-lighter">Copyright © My_Nursey 2024 All Rights Reserved</p>
  </div>
  <!-- </div> -->
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

</body>
</html>